<div class="book">
    <img [src]="book.cover" [alt]="book.title" class="bookCover" />
    <section class="info">
        <p class="bookTitle">{{book.title}}</p>
        <ul class="authorsList">
            @for (author of book.authors; track author; let last = $last) {
                <li class="bookAuthor"><a [href]="formatAuthorsForRoute(author)">{{author}}</a>{{ !last ? ', ' : '' }}</li>
            }
        </ul>
        <p class="dateFinished">Date Finished: {{formatDate(book.dateRead)}}</p>
        <a [href]="book.moreInfo" target="_blank">
            <span class="material-symbols-outlined">open_in_new</span>
            View {{book.title}} on Story Graph
          </a>
          <ul class="tags">
            @for (tag of book.tags; track tag) {
                <li class="tag">{{tag}}</li>
            }
        </ul>
    </section>
</div>