---
import Books from "../components/books.astro"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/reading-list/global.css" />
    <title>Reading List</title>
  </head>
  <body>
    <header>
      <h1>Reading List</h1>
    <a href="https://ryanmontville.com/">RyanMontville.com</a>
    </header>
    <Books />
  </body>
</html>