---
import BookDetails from "../components/bookDetail.astro";
import Header from "../components/header.astro";
import type { Book } from "../types/Book";
import books from "../assets/books.json";

const months: string[] = [
  "January",
  "February",
  "March",
  "April",
  "May",
  "June",
  "July",
  "August",
  "September",
  "October",
  "November",
  "December",
];
const years: string[] = ["2021", "2022", "2023", "2024", "2025"];
let booksByYear: Book[][] = [];

function getYear(date: string) {
  let dateList = date.split("/");
  return dateList[2];
}

function sortBooksByYear() {
  let bookArray: Book[][] = [];
  years.forEach((year) => {
    let newYear: Book[] = books.filter((book) => {
      if (getYear(book.dateRead) === year) {
        return book;
      }
    });
    bookArray.push(newYear);
  });
  return bookArray;
}


booksByYear = sortBooksByYear();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/reading-list/global.css" />
    <title>Reading List</title>
  </head>
  <body>
    <Header />
    <main>
      {booksByYear.map((byear) => (
            <div>
              <h2 class="year">
                <a href={`${getYear(byear[0].dateRead)}`}>
                  {getYear(byear[0].dateRead)} [{byear.length} books]
                </a>
              </h2>
              {byear.map((bookItem) => (
                <BookDetails book={bookItem} />
              ))}
            </div>
          ))
      }
    </main>
  </body>
</html>
