.app-title {
    margin: 10px;
    text-align: center;
    font-size: 2em;
}

.menu-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
}

.menu {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-color: white;
    width: 200px;
}
@media only screen and (min-width: 671px) {
    .menu {
        width: 500px;
    }
}
@media only screen and (max-width: 670px) {
    .menu {
        width: 90%;
    }
}