---
const { tags } = Astro.props;
---

<ul class="tags">
  {tags.map((tag: string, index: number) => <li class="tag" key={index}>{tag}</li>)}
</ul>

<style>
  .tags {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 10px;
  }

  .tag {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 3px 5px;
  }

</style>