.pie-content {
    display: flex;
    flex-wrap: wrap;
}

.pie-chart {
    display: flex;
    justify-content: center;
}

.legend {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.legend span {
    margin: 5px;
    display: flex;
    align-items: center;
}

.key-dot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
}

@media (min-width: 650px) {
    .pie-content {
        flex-direction: row;
    }
}
@media (max-width: 649px) {
    .pie-content {
        flex-direction: column;
    }
}
