@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;900&display=swap');

@media (prefers-color-scheme: dark) {
    :root {
        --body-background: #000000;
        --nav-background: #404040;
        --nav-color: #ccc;
        --main-background: #333;
        --main-headings: #ccc;
        --main-color: #ccc;
        --main-link: #9a97f3;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --body-background: #e5e5e5;
        --nav-background: #808080;
        --nav-color: #fff;
        --header-color: #ffffff;
        --header-title: #ffffff;
        --main-background: #ffffff;
        --main-headings: #b81f24;
        --main-color: #000000;
        --main-link: #302ae6;
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto Slab", serif;
    background-color: var(--body-background);
    color: var(--main-color);
    position: relative;
    z-index: 1;
}

.hide {
    display: none !important;
}

.material-symbols-outlined {
    vertical-align: middle;
}

h1, h2, h3, h4 {
    font-family: "Roboto", sans-serif;
}

a {
    color: var(--main-link);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header h1 {
    font-size: 2em;
    text-align: center;
}

#filter-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#page-title {
    text-align: center;
}

.card {
    max-width: 900px;
    margin: 10px auto;
    background-color: var(--main-background);
    color: var(--main-color);
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.with-padding {
    padding: 10px;
}

#books-contianer {
    max-width: 900px;
    margin: 5px auto;
}

.book {
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.book img {
    max-height: 150px;
    margin-right: 10px;
}

.book section ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.book section ul li {
    list-style-type: none;
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.book a {
    cursor: pointer;
}

.hide-overflow {
    overflow: hidden;
}

button {
    background-color: var(--main-background);
    border: 1px solid var(--main-color);
    color: var(--main-color);
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.challenge-book {
    border-top: 1px solid var(--main-color);
    margin: 5px 0;
    padding: 10px 0;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header button {
    cursor: pointer;
    border: 0;
    font-size: 30px;
}

nav {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: var(--nav-background);
    border: 1px solid var(--nav-color);
    border-radius: 10px;
    padding: 10px;
    max-width: 400px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav li {
    position: relative;
}

nav a {
    color: var(--nav-color);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav a:hover {
    color: var(--main-link);
}

table {
    width: 100%;

}

th {
    text-align: left;
    border-bottom: 1px solid var(--main-color);
}
tr:nth-child(even) {
    background-color: #000;
}

select {
    padding: 5px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    background-color: var(--main-background);
    color: var(--main-color);
}

footer {
    text-align: center;
    margin-bottom: 70px;
}